[defaults]
ssh_extra_args          = "-o IdentitiesOnly = yes"

private_key_file        = ~/.ssh/personal-aws-prod
vault_password_file     = ../files/credentials/vault_password_file

inventory = ./inventories/aws/main/ap-southeast-1/production/aws_ec2.yml

host_key_checking = False

log_path = ./ansible.log

roles_path = ../roles

deprecation_warnings = False

[inventory]
enable_plugins = amazon.aws.aws_ec2, host_list, script, yml, yaml, ini

[ssh_connection]
pipelining = True
